/* variables */
:root {
    --green: #45ae16;
    --blue_header: #0e1b7d;
    --white: #fff;
    --background: #eff0f1;
    --green-whatsapp: #25d366;
    --shadow: #999;
}

/* menu */
.navbar {
    background-color: var(--blue_header);
}


/* content */
.content-main {
    background-image: url("../images/hr.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: auto;
    height: 600px;
    padding: 30px;
}

.services {
    display: inline-block;
}

.item-service {
    display: inline;
}



/* contact */
#contact-section {
    background-color: var(--background);
    margin-top: 30px;
    padding: 50px 0;
}

#contact-title {
    margin-left: 700px;
}
.contact-item {
    margin-left: 710px;
    display: block;
}

.contact-item * {
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    margin-left: 20px;
}




/* footer */
.footer {
    background-color: var(--background);
    text-align: center;
    padding: 50px 0;
}

/* whatsapp icon */
.whatsapp{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:20px;
	background-color: var(--green-whatsapp);
	color: white;
	border-radius:30px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px var(--shadow);
    z-index:100;
}
.whatsapp-icon{
    margin-top:16px;
}
.shk {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -webkit-animation-name: shakeMe;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
  }
  
  @keyframes shakeMe {
    10%,
    90% {
      transform: translate3d(-5px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(5px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-5px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(5px, 0, 0);
    }
  }