/* variables */
:root {
    --green: #45ae16;
    --blue_header: #003b81;
    --white: #fff;
    --background: #eff0f1;
    --green-whatsapp: #25d366;
    --shadow: #999;
    --background-footer: rgb(62, 63, 65);
    --backgound-color:  rgb(241, 241, 241);
    --orange : darkorange;
    --backgound-contact-home: #d6d4d4;
    --backgoud-contact-gradient: rgb(156, 151, 151);
    --background-vehicle: gray;
    --background-contact: #ccc;
}

body {
    background-color: var(--backgound-color)!important;
}
.itens-contact{
    margin-top: 40px;
}

#section-contact-home {
    background-image:  linear-gradient(var(--backgoud-contact-gradient),var(--backgound-contact-home));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.contact-home {
    text-align: center;
}
.phone {
    margin-top: 20px;
}
.contact-home h3 a {
    color: black;
}

/* content */
.content-main {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 550px;
    margin: auto;
    margin-top: 55px;
    padding: 30px;
    z-index: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.carousel-text {
    font-family: 'Changa', sans-serif;
    color: var(--orange);
    font-size: 35px;
    text-align: center;
}
    
.image-logo {
    display: none;
}

.logo {
    width: 95%;
}

/* menu */
.navbar {
    background-color: var(--blue_header);
}

@media screen and  (max-width: 801px){
    .content-main {
        background-image: url("../images/hr_mobile.png");
    }
}


@media screen and  (min-width: 800px){
    /* content */
    .content-main {
        background-image: url("../images/hr.jpeg");
    }

    .image-logo {
        display: inline-block;
        max-height: 150px;
    }

    .logo {
        width: 60%;
    }

    .carousel-text {
        font-size: 4em;
    }

    .section-company {
        height: 250px;
    }

    .phone {
        margin-top: 20px;
        margin-left: 60px;
    }

    .list-services{
        margin-left: 100px;
        margin-right: 100px;
    }
}

.content {
    padding-top: 30px;
}
.services {
    display: inline-block;
}

.item-service {
    display: inline;
}

#services-section {
    overflow-x: hidden;
}

.section-image-vehicle{
    background-color: var(--background-vehicle);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
}

/* contact */
#contact-section {
    margin-top: 30px;
    padding: 40px 0;
    background-color: var(--background-contact);
}

.image-services-item {
    max-width: 100px;
    max-height: 100px;
} 

/* footer */
.footer {
    background-color: var(--background-footer);
    text-align: center;
}


/* whatsapp icon */
.whatsapp{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:20px;
	background-color: var(--green-whatsapp);
	color: white;
	border-radius:30px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px var(--shadow);
    z-index:100;
}
.whatsapp-icon{
    margin-top:16px;
}
.shk {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -webkit-animation-name: shakeMe;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
  }
  
  @keyframes shakeMe {
    10%,
    90% {
      transform: translate3d(-5px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(5px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-5px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(5px, 0, 0);
    }
  }